.App {
  text-align: center;
  display: flex;
}

.tracks {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;

  align-items: center;
}

.track-list {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5rem;
}
.formArtist {
  margin: auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 60% 30% 10%;
  width: 40%;
  row-gap: 10px;
  border-bottom: 1px solid black;
}

.formInputs {
  margin: auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 60% 40%;
  width: 80%;
  row-gap: 10px;
  justify-items: end;
  text-align: right;
  padding-left: 5rem;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
